  <footer>
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <p>&copy; 2017 Alex Kularatnam<br>Website courtesy of <a href="http://undyingfish.com" target="_blank" style="color:inherit;text-decoration:none;">Undying Fish Web Design</a></p>
      </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2542/in-view.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
</body>
