<section id="manifesto" data-background-color="white">
  <div class="jumbotron">
    <blockquote><i>
            You don't remember everything you read, but <strong>what you read makes you who you are.</strong>
          </i></blockquote>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-6 text-center">
      <h2 class="background-change panel-heading-inform" id="#inform">Inform</h2>
    </div>
    <div class="col-md-3 col-xs-6 text-center">
      <h2 class="background-change panel-heading-educate" id="#educate">Educate</h2>
    </div>
    <div class="col-md-3 col-xs-6 text-center">
      <h2 class="background-change panel-heading-argue" id="#argue">Argue</h2>
    </div>
    <div class="col-md-3 col-xs-6 text-center">
      <h2 class="background-change panel-heading-inspire" id="#inspire">Inspire</h2>
    </div>
  </div>
</section>
