<section id="ourtopics" data-background-color="#FF4047">
  <div class="well well-md">
    <h2>Our Topics</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
         Political Concepts</a><br>
         <small>Understood and discussed, impartially.</small>
       </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            In this day and age, it is all too easy to make conclusive arguments on policies with very little understanding. People find themselves defending sets of values only because they derived from an organisation or a person they support or admire. <br>            Yet with grounding in specific political ideas, readers can consider both the benefits and the consequences of situations, and make objective decisions about their standpoint irrespective of exterior motives.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
         Perspectives</a><br>
         <small>Take a look into someone else's mind.</small>
       </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            Fulfilment from life is something individuals explore in their own ways, and exposing various forms of it can indeed provide inspiration and intrigue to the reader.<br> We, therefore, aim to showcase a diverse array of people with different
            objectives and the circumstances each encountered and dealt with.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
         World Affairs</a><br>
         <small>Our world changes with us.</small>
       </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            Often we find ourselves neglectful of international affairs mainly due to a relative insignificance to personal problems. However, with mass migration a consistent theme in modern politics in both the UK and USA, the crises of the world are increasingly
            relevant to developed countries such as these.<br> In a world that is ever-more connected and interdependent, changes and occurrences across seas have become increasingly important and impactful. For this reason, we find it essential
            to dedicate space on our publication for world affairs.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
         The Review</a><br>
         <small>The media, on media.</small>
       </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            Quite simply, reviews on books or films.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
