<section id="purpose" data-background-color="#14B9CC">
  <div class="well well-md">
    <h2>Purpose</h2>
    <hr>
    <p>How can we truly understand and form opinions in the political arena, or in any other strong cause for debate, without a fundamental grasp of the topics discussed?<br> Discussion and explanation are the pillars to this publication, for we do not fear
      unpopular views, but instead welcome them with open arms. For us at 2STAC, attaining a mass following who share common views is not the crucial objective. Instead, we aim to provide a platform where people of any background can individually assess
      their stance on important public matters.</p>
    <div class="text-center">
      <h3>As humans, we must not assume our view as the status quo, but instead always acknowledge the</h3>
      <h1>2 Sides To A Coin.</h1>
    </div>
  </div>
</section>
